{% load static %}


{% include "base.html" %}

<script src="{% static 'js/script.js' %}"></script>

<div class="container" style="margin-top:5%;">


 {% for message in messages %}
     {% if message.tags == 'error' %}
    <div class="alert alert-danger" role="alert">
            {{message}}
    </div>
    {% endif %}
  {% endfor %}

<h1>Cadastro</h1>

<form class="row g-3 needs-validation" novalidate method="POST">
  {% csrf_token %}

  <div class="col-md-6">
    <label for="name" class="form-label">Nome</label>
    {{form.first_name}}
  </div>
  <div class="col-md-6">
    <label for="lastname" class="form-label">Sobrenome</label>
    {{form.last_name}}
  </div>
  <div class="col-md-12">
    <label for="user" class="form-label">Usuário</label>
    {{form.username}}
  </div>
  <div class="col-md-12">
    <label for="password" class="form-label">Senha</label>
    {{form.password1}}
  </div>
  <div class="col-md-12">
    <label for="confirm-password" class="form-label">Confirmar Senha</label>
    {{form.password2}}
  </div>
  <div class="col-md-12">
    <label for="email" class="form-label">E-mail</label>
    {{form.email}}
  </div>
  <div class="col-12">
    <button type="submit" onclick="valida()" class="btn btn-primary">Cadastrar</button>
  </div>
</form>
    </div>

  </body>
</html>